
<link rel="stylesheet" href="Web/Templates/Bar/css/style.css">
<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>

<div id="container" style="background-color: ">
    <div style="margin-top: 25%" id="bar-1" class="bar-main-container yellow">
        <div class="wrap">
            <div class="bar-percentage" data-percentage="100"></div>
            <div class="bar-container">
                <div class="bar"></div>
            </div>
        </div>
    </div>

</div>
<script>
    $('.bar-percentage[data-percentage]').each(function () {
        var progress = $(this);
        var percentage = Math.ceil($(this).attr('data-percentage'));
        $({countNum: 0}).animate({countNum: percentage}, {
            duration: 2000,
            easing: 'linear',
            step: function () {
                // What todo on every count
                var pct = '';
                if (percentage == 0) {
                    pct = Math.floor(this.countNum) + '%';
                } else {
                    pct = Math.floor(this.countNum + 1) + '%';
                }
                progress.text(pct) && progress.siblings().children().css('width', pct);
            }
        });
       
    });
     
</script>

