<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Centro Regional de Optometria </title>
        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Optometry " />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <link href="Web/Styles/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="Web/Styles/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- js -->
        <script src="Web/Scripts/jquery-1.11.1.min.js"></script>
        <!-- //js -->
        <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    </head>

    
    <body>
       <!-- header -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="Web/Scripts/traducao.datapiker.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>

<div class="header">
    <div class="container">
        <div class="header-nav">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a class="navbar-brand" href="home">Optometria Center <span>Nós nos importamos com seus olhos</span></a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav cl-effect-14">
        <li><a href="home" id="home" class="@inicial">Home</a></li>
        <li><a href="servicos" id="servicos" class="@service">Serviços</a></li>
        <li><a href="agendar" id="servicos" class="active">Agendar</a></li>
        <li><a href="blog" id="blog" class="@menuBlog">Blog</a></li>
        <li><a href="contato" id="contato" class="@menuContato">Contato</a></li>
    </ul>
</div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>
<!-- //header -->

<div class="clearfix"> </div>
<!-- //banner -->
<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="col-md-2 contact-left"></div>
        <div class="col-md-8 contact-left">
            <h3 style="text-align: center">Você foi cadastrado com sucesso.</h3>
            <h3>Em breve receberá nossas notícias em seu email. </h3>
          



        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="contact-bottom">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.90427344763!2d-48.55050238494031!3d-27.596497282837937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9527383b311dcb3b%3A0x77d03919427dfb5c!2sR.+Anita+Garibaldi%2C+60+-+Centro%2C+Florian%C3%B3polis+-+SC%2C+88010-500!5e0!3m2!1spt-BR!2sbr!4v1523272164278"  frameborder="0" style="border:0" allowfullscreen></iframe>	</div>


<div class="footer">	
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <h3 class="title">Serviços</h3>
                <ul>
                    <li><a href="#">Exame de Vista</a></li>
                    <li><a href="#">Receita de Óculos</a></li>
                    <li><a href="#">Lentes de Contato</a></li>
                    <li><a href="#">Protese Ocular</a></li>
                    <li><a href="#">Terapia Visual</a></li>
                </ul>
            </div>

            <div class="col-md-3 footer-grid ctact-grid">
                <h3 class="title">Outras Páginas</h3>
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid contact-grid">
                <h3 class="title">Nosso endereço</h3>
                <ul>
                    <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Florianópolis.</li>							
                    <li class="adrs">Rua Anita Garibalde 60</li>
                    <li class="adrs"> Sala 11</li>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(48) 9.8846-4641</li>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="sales@centroregionaldeoptometria.com.br">Sales</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid ctact-grid">
                <h3 class="title">Localização</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.90427344763!2d-48.55050238494031!3d-27.596497282837937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9527383b311dcb3b%3A0x77d03919427dfb5c!2sR.+Anita+Garibaldi%2C+60+-+Centro%2C+Florian%C3%B3polis+-+SC%2C+88010-500!5e0!3m2!1spt-BR!2sbr!4v1523272164278" width="100%" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="copy">
    <div class="container">
        <p>Copyright © 2018 Centro Regional de Optometria. Todos os Direitos Reservados | Criado por <a href="http://www.alpronet.com.br">Alpronet Multimídia</a></p>
        <div class="social-icons">
            <ul>
                <li><a href="#" class="fb"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#" class="gg"></a></li>
                <li><a href="#" class="pn"></a></li>					
            </ul>	
        </div>
    </div>
</div>

    </body>
</html>